div{
    font-size: 24px;
    margin-left: 10%;
    background-color: blue;
}

#nopadding{
    padding :0;
}

#padding{
    padding:50px;
}

#toppadding{
    padding-right:50px;
}

#rightpadding{
    padding-right:50px;
}

nav li{
    font-size: 20px;
    display: inline-block
}

nav ul{
    font-size: 24px;
    display: inline-block
}

.sectionHeader{
    color:navy;
}

body{
    background-image: url("mario (1).png");
}